# ── Python ────────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
env/

# ── Airflow data ─────────────────────────────────────────────────────────
dags_airflow/data/bronze/
dags_airflow/data/silver/   
dags_airflow/data/gold/

# ── Jupyter Notebooks ─────────────────────────────────────────────────────
src/scripts/data/bronze
src/scripts/data/gold
src/scripts/data/silver